Source: libnetfilter-conntrack
Section: libs
Priority: optional
Maintainer: Max Kellermann <max@duempel.org>
Build-Depends: debhelper (>= 5), gcc (>= 3.4), libnfnetlink-dev (>= 0.0.16)
Standards-Version: 3.7.2

Package: libnetfilter-conntrack1
Architecture: any
Depends: ${shlibs:Depends}
Description: Netfilter netlink-conntrack library
 This is the userspace library for nfnetlink_conntrack.

Package: libnetfilter-conntrack1-dbg
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, libnetfilter-conntrack1 (= ${Source-Version})
Description: Debugging symbols for libnetfilter-conntrack1
 This is the userspace library for nfnetlink_conntrack.
 .
 This package provides the debugging symbols.

Package: libnetfilter-conntrack-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, pkg-config,
 libnetfilter-conntrack1 (= ${Source-Version})
Description: Development files for libnetfilter-conntrack1
 This is the userspace library for nfnetlink_conntrack.
 .
 This package provides development files and static libraries.
