Source: libnetfilter-conntrack
Section: libs
Priority: extra
Maintainer: netfilter maintainers <netfilter-maintainers@ned.snow-crash.org>
Uploaders: Max Kellermann <max@duempel.org>, Alexander Wirt <formorer@debian.org>
Homepage: http://www.netfilter.org/projects/libnetfilter_conntrack/
Build-Depends: debhelper (>= 5), libnfnetlink-dev (>= 0.0.39), libtool
Standards-Version: 3.8.1

Package: libnetfilter-conntrack3
Architecture: any
Depends: ${shlibs:Depends}
Description: Netfilter netlink-conntrack library
 libnetfilter_conntrack is a userspace library providing a programming
 interface (API) to the in-kernel connection tracking state table.

Package: libnetfilter-conntrack3-dbg
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, libnetfilter-conntrack3 (=  ${binary:Version})
Description: Debugging symbols for libnetfilter-conntrack3
 libnetfilter_conntrack is a userspace library providing a programming
 interface (API) to the in-kernel connection tracking state table.
 .
 This package provides the debugging symbols.

Package: libnetfilter-conntrack-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, pkg-config,
 libnetfilter-conntrack3 (= ${binary:Version}),
 libnfnetlink-dev (>= 0.0.25)
Description: Development files for libnetfilter-conntrack3
 libnetfilter_conntrack is a userspace library providing a programming
 interface (API) to the in-kernel connection tracking state table.
 .
 This package provides development files and static libraries.
